@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 67px;
}

html {
  scroll-padding: var(--header-height);
}

body {

    height: 100vh;
    height: 100dvh;
    height: 100svh;

    color: #2a2b2c;
}


/* Carousel buttons */
.carousel .control-next.control-arrow:before {
  border-left: 8px solid red !important;
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid red !important;
}


/* Animate Contact */
.component-hidden {
  opacity: 0;
  transform: translateY(7rem);
}
.component-visible {
  transition: transform 1s, opacity 1s;
}
