@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-fewer240: 112px;
  --header-fewer333: 88px;
  --header-height: 68px;
}

html {
  --header-height: var(var(--header-fewer240));
  scroll-padding: var(--header-fewer240);
  overflow-x: hidden;
  /* height: 100vh;
  height: 100dvh;
  height: 100svh; */
  box-sizing: content-box;
}
@media only screen and (min-width: 240px) and (max-width: 333px) {
  html{
    --header-height: var(var(--header-fewer333));
    scroll-padding: var(--header-fewer333);
  }
}
@media only screen and (min-width: 334px) {
  html{
    --header-height: var(var(--header-height));
    scroll-padding: var(--header-height);
  }
}

body {
  /* min-height: 100vh;
  min-height: 100dvh; */
    /* height: 100vh;
    height: 100dvh;
    height: 100svh; */
    /* max-height: 100dvh;
    max-height: 100svh; */

    color: #2a2b2c;
}

/* Carousel buttons */
.carousel .control-next.control-arrow:before {
  border-left: 8px solid red !important;
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid red !important;
}
.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
  opacity: 0.7 !important;
}


/* Animate Components */
/* it is applied for all components (About, Portfoloio, and Contact) */
.component-hidden {
  opacity: 0;
  transform: translateY(7rem);
}
.component-visible {
  transition: transform 1s, opacity 2s;
}


/* Animate About items */
/* .about-name-hidden {
  opacity: 0;
}
.about-name-visible {
  transition: opacity 1s;
}

.about-description-hidden {
  opacity: 0;
}
.about-description-visible {
  transition: opacity 1s;
}

.about-picture-hidden {
  opacity: 0;
}
.about-picture-visible {
  transition: opacity 1s;
}

.about-others-hidden {
  opacity: 0;
}
.about-others-visible {
  transition: opacity 1s;
} */

@media only screen and (min-width: 800px) {
  .about-name-hidden {
    opacity: 0;
    transform: translateY(-5rem);
  }
  .about-name-visible {
    transition: transform 1.5s, opacity 2s;
  }

  .about-description-hidden {
    opacity: 0;
    transform: translateX(-12rem);
  }
  .about-description-visible {
    transition: transform 1.5s, opacity 2s;
  }

  .about-picture-hidden {
    opacity: 0;
    transform: translateX(10rem);
  }
  .about-picture-visible {
    transition: transform 1.5s, opacity 1s;
  }
  
  .about-others-hidden {
    transform: translateY(15rem);
  }
  .about-others-visible {
    transition: transform 1.5s, opacity 1s;
  }
}



/* Animate Portfolio items */
.portfolio-item-hidden {
  opacity: 0;
}
.portfolio-item-visible {
  transition: opacity 1.7s;
}


/* Animate More Info text */
/* not working as expected */
/* @keyframes hidden {
  from { display: block; }
  to { opacity: 0; }
}

@keyframes displaying {
  from { display: none; }
  to { opacity: 1; }
}

.more-info-hidden {
  animation: hidden 1.5s;
  display: none;
}
.more-info-visible {
  animation: displaying 1.5s;
  display: block;
} */