@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  utility to hide horizontal scrollbar
  src: https://dev.to/derick1530/how-to-create-scrollable-element-in-tailwind-without-a-scrollbar-4mbd
 */
@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}

:root {
  --header-height: 67px;
}

html {
  scroll-padding: var(--header-height);
}

body {

    height: 100vh;
    /* height: 100dvh;
    height: 100svh; */

    color: #2a2b2c;
}


/* Carousel buttons */
.carousel .control-next.control-arrow:before {
  border-left: 8px solid red !important;
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid red !important;
}
.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
  opacity: 0.7 !important;
}


/* Animate Components */
/* it is applied for all components (About, Portfoloio, and Contact) */
.component-hidden {
  opacity: 0;
  transform: translateY(7rem);
}
.component-visible {
  transition: transform 1s, opacity 2s;
}


/* Animate About items */
.about-name-hidden {
  opacity: 0;
  transform: translateY(-7rem);
}
.about-name-visible {
  transition: transform 1.5s, opacity 2s;
}

.about-description-hidden {
  opacity: 0;
  transform: translateX(-27rem);
}
.about-description-visible {
  transition: transform 1.5s, opacity 2s;
}

.about-picture-hidden {
  opacity: 0;
  transform: translateX(27rem);
}
.about-picture-visible {
  transition: transform 1.5s, opacity 2s;
}

.about-others-hidden {
  opacity: 0;
  transform: translateY(22rem);
}
.about-others-visible {
  transition: transform 1.5s, opacity 2s;
}

@media only screen and (max-width: 800px) {
  .about-name-hidden {
    transform: translateY(-5rem);
  }
  .about-name-visible {
    transition: transform 1s, opacity 1s;
  }

  .about-description-hidden {
    transform: translateX(-10rem);
  }
  .about-description-visible {
    transition: transform 1s, opacity 1s;
  }

  .about-picture-hidden {
    transform: translateX(10rem);
  }
  .about-picture-visible {
    transition: transform 1s, opacity 1s;
  }
  
  .about-others-hidden {
    transform: translateY(7rem);
  }
  .about-others-visible {
    transition: transform 1s, opacity 1s;
  }
}



/* Animate Portfolio items */
.portfolio-item-hidden {
  opacity: 0;
}
.portfolio-item-visible {
  transition: opacity 1.7s;
}


/* Animate More Info text */
/* not working as expected */
/* @keyframes hidden {
  from { display: block; }
  to { opacity: 0; }
}

@keyframes displaying {
  from { display: none; }
  to { opacity: 1; }
}

.more-info-hidden {
  animation: hidden 1.5s;
  display: none;
}
.more-info-visible {
  animation: displaying 1.5s;
  display: block;
} */